.album-container {
    .album-banderole {
        margin-bottom: 20px;
    }

    .album-album-container {
        display: flex;
        justify-content: space-between;

        .album-container {
            width: 50%;
        }
    }

}