.backend-button {
    background-color: @color-1;
    color: @color-4;
    padding: 10px;
    display: inline-block;
}

.login-notification {
    margin-top: 20px;
    height: 40px;
}

.login-form {
    margin: 30px 0 78px 0;
    position: relative;

    form {
        display: block;
        width: 200px;
        margin: 0 auto;

        > div {
            margin-bottom: 10px;
        }

        input[type="submit"] {
            width: 198px;
        }
    }
}

.loggedin-container {
    h2 {
        font-family: @font-family-2;
        font-size: 1.5em;
        border-bottom: 1px dashed @color-2;
        font-weight: normal;
        margin-bottom: 15px;
        width: 100%;
    }
}

.news-edit-container {
    margin: 20px 0 40px 0;

    .news-new {
        text-align: right;
    }

    .news-edit {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .single-news {
            width: 30%;
            min-width: 30%;
            border: 1px solid @color-2;
            position: relative;
            min-height: 255px;
            overflow: hidden;
            margin-bottom: 20px;

            a {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .news-delete {
                position: absolute;
                height: 25px;
                width: 100%;
                padding: 0;
                margin: 0;
                bottom: 0;
                background-color: @color-5;
                text-align: center;

                a {
                    position: static;
                    line-height: 25px;
                    color: @color-4;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }
            }

            > div:not(.news-image) {
                padding: 0 5px;
            }

            .news-image {
                max-height: 90px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            h3 {
                font-size: 1em;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .news-date {
                font-size: 14px;
            }
        }
    }
}

.newsedit-form-container {
    .image-edit {
        width: 100px;
        height: auto;
    }
}

.event-edit-container {
    margin-top: 60px;

    .event-new {
        text-align: right;
    }

    .event-edit {
        .single-event {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            line-height: 30px;
        }
    }
}

.album-edit-container {
    margin-top: 60px;

    .album-new {
        text-align: right;
    }

    .album-edit {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;

        .single-album {
            margin: 10px;

            .delete-button {
                line-height: 30px;
            }
        }
    }

    .image-edit-container {
        margin-top: 20px;

        .image-edit-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .image-edit {
                width: 40%;
                max-height: 200px;

                .image-in-list {
                    width: 100%;
                    overflow: hidden;
                    height: auto;
                    max-height: 100px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.delete-button {
    background-color: @color-5;
    color: @color-4;
    padding: 5px;
}