.events-container {
    h2 {
        font-family: @font-family-2;
        font-size: 1.5em;
        border-bottom: 1px dashed @color-2;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .event-date {
        font-family: @font-family-2;
        letter-spacing: 0.1em;
        font-size: 1em;
        margin-top: 20px;
        display: block;
        cursor: default;
    }

    .event-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        cursor: default;

        .event-information {
            position: relative;
            max-width: 85%;

            .event-name {
                color: @color-3;
                line-height: 1.4em;
                font-size: 1.125em;
                font-family: @font-family-2;
            }

            .event-time {
                color: @color-1;
                font-size: 0.875em;
                font-family: @font-family-2;
                line-height: 0.75em;
            }
        }

        .facebook-link {
            img {
                width: 23px;
            }
        }
    }
}