<div class="slider-container">
    <ul class="rslides">
        <li><img src="{{ templateDir }}/img/teaser.jpg" alt="Teaserbild vom Café"></li>
        <li><img src="{{ templateDir }}/img/teaser.jpg" alt="Teaserbild vom Café"></li>
        <li><img src="{{ templateDir }}/img/teaser.jpg" alt="Teaserbild vom Café"></li>
    </ul>
</div>