<div class="slider-container">
    <ul class="rslides">
        {% for slide in slider %}
            <li><img src="{{ templateDir }}{{ slide }}" alt="Teaserbild vom Café"></li>
        {% endfor %}
    </ul>
</div>