<div class="daily-soup">
    <h2>Tagessuppen</h2>

    <p class="daily-soup-day">{{  dailySoup.date.getWeekday | weekdayShort }} | {{ dailySoup.date }}</p>

    {%  if dailySoup.soups | length > 0 %}
        {% for soup in dailySoup.soups %}
            <p class="daily-soup-soup">{{ soup.getSoup }}</p>
        {% endfor %}
    {% else %}
        <p class="daily-soup-soup">Es gibt heute keine speziellen Tagessuppen im Angebot</p>
    {% endif %}
</div>