<!DOCTYPE html>
<html>

<body>
    <header>
        <div class="header-content">
            <p class="header-adress">Wilhelmstraße 7 <span>06406 Bernburg</span></p>
            <p class="header-open">Do-Di 10-19Uhr</p>
            <p class="header-telephone">01525-5366682</p>
        </div>
    </header>

    <div class="navigation">
        <p><a href="#">Zu Hause</a></p>
        <p><a href="#">Philosophie</a></p>
        <p><a href="{{ templateDir }}/document/speisekarte.pdf" target="_blank">Speisekarte</a></p>
        <p><a href="#">Impressionen</a></p>
        <p><a href="#">Anfahrt</a></p>
        <p><a href="#">Kontakt & Impressum</a></p>
    </div>

    {% include ('basic/header.twig') %}

    <div class="main-content js-main-content">
        <div class="sidebar-content">
            {% include ('basic/sidebar.twig') %}
        </div>

        <div class="page-content">
            {% include ('page/' ~ page ~ '.twig') %}
        </div>
    </div>

    {% include ('basic/footer.twig') %}
</body>
</html>