<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo-container">
            <img src="{{ templateDir }}/img/logo.png"/>
        </div>

        <div class="welcome-container">
            <h1>Herzlich Willkommen<br/>
                im Café Wilhelm 7ieben<br/>
                Bernburg</h1>
        </div>
    </div>

    <div class="sidebar-wrapper">
        <div class="reservierung">
            <a href="index.php?route=reservierung"></a>
            <h1>Tisch</h1>
            <h1>Reservierung</h1>
        </div>
    </div>

    <div class="sidebar-wrapper">
        {% include ('module/events.twig') %}
    </div>

    <div class="sidebar-wrapper">
        {% include ('module/soupCalendar.twig') %}
    </div>
</div>