<div class="anfahrt-container">
    <div class="page-container">
        {% include ('module/googleMaps.twig') %}
    </div>

    <div class="page-container">
        <h2>Wie kommt ihr am besten zu uns?</h2>
    </div>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARPWbd1uzbl816_a7JsR00vLmswNlKfJU&callback=initMap">
</script>