<div class="impressum-container page-container">
    <div class="impressum-banderole banderole"><h1>Impressum</h1></div>

    <div class="contact-container">
        <div class="contact-adress">
            <h4>Adresse</h4>
            <span>Konrad Auer & Anna Leiser GbR</span>
            <span>Wilhelmstraße 7</span>
            <span>06406 Bernburg</span>
        </div>

        <div class="contact-contact">
            <h4>Kontaktdaten</h4>
            <span>Tel.: 01525-5366682</span>
            <span>Mail: <a href="mailto: kontakt@cafewilhelmsieben.de"
                           target="new">kontakt@cafewilhelmsieben.de</a></span>
        </div>
    </div>

    <div class="impressum-tax-info">
        <h4>Steuerinformationen</h4>
        <span>Steueridentifikationsnummer: 116/171/66706</span>
        <span>Vertreten durch Gesellschafter Konrad Auer und Gesellschafter Anna Leiser</span>
    </div>

    <div class="impressum-website">
        <h4>Webseite</h4>
        <span>Maik Schößler GbR</span>
        <span>Mail: <a href="mailto: ms2002@onlinehome.de">ms2002@onlinehome.de</a></span>
    </div>

    <div class="impressum-images">
        <h4>Bilder</h4>
        <span>© S. Götze | <a href="http://n8aktiv.com" target="new">n8aktiv.com</a></span>
    </div>

    <div class="impressum-law">
        <h4>Rechtliches</h4>
        <p>Das Layout der Website, alle verwendeten Grafiken sowie die gezeigten Werke sind urheberrechtlich geschützt
            und dürfen nicht vervielfältigt, verändert und ohne Genehmigung (weder off-, noch online) verbreitet
            werden.</p>
    </div>

    <div class="impressum-security">
        <h4>Datenschutz</h4>
        <p>Datenverarbeitung zur Übermittlung der Onlineinhalte
            Zum Zweck der Übermittlung der von Ihnen aufgerufenen Webseite werden von Ihrem Browser typischerweise unter
            anderem folgende Informationen (im Rahmen von sogenannten HTTP-Requests) übersandt.
        </p>

        <ul>
            <li>Ihre IP-Adresse, eine Ziffernfolge, die Ihren derzeitigen Computeranschluss im Internet identifiziert.
            </li>
            <li>Die von Ihnen aufgerufene URL (die Webseite und ggf. weitere Parameter)</li>
            <li>Informationen zu dem von Ihnen verwendeten Browser und Betriebssystem, wie deren Name und Version,</li>
            <li>sowie – unter Umständen – die Seite, von der aus Sie zu uns gelangt sind (Referrer-Information).</li>
            <li>Der Zeitpunkt der Anfrage.</li>
        </ul>
    </div>

    <div class="impressum-sponsored">
        <h4>Gefördert durch</h4>
        <img src="{{ templateDir }}/img/esf.png" alt="Gefördert durch">
    </div>
</div>