<div class="login-container page-container">
    <div class="loggedin-banderole banderole"><h1>Seitenverwaltung</h1></div>

    <div class="news-edit-container">
        <a href="{{ route('news-edit') }}">News erstellen</a>
        <h2>News bearbeiten</h2>

        {% if news|length > 0 %}
            {% for singleNews in news %}
                {% set newsId = {'newsId': singleNews.getNewsId} %}

                <div><a href="{{ route('news-edit', newsId) }}">{{ singleNews.getTitle }}</a></div>
                <div>{{ singleNews.getDate }}</div>

            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="galerie-edit-container">

</div>