<div class="philosophie-container page-container">
    <div class="philosophie-banderole banderole"><h1>Philosophie</h1></div>
    <div class="philosophie-description">
        <p>Das Café Wilhelm 7ieben in Bernburg ist ein Ort zum Genießen, Entspannen, Abschalten mit Musik, Freunden oder einem guten Buch. Ihr könnt euch bei uns etwas zum Lesen schnappen, euch unsere Galerieausstellung anschauen oder euch auf unsere bequeme Couch platzieren. Eltern können hier abschalten und Kinder in der Spieleecke auf Ihre Kosten kommen.
            Kulinarisch wollen wir Altes und Neues miteinander verbinden. So gibt es hausgemachten Kuchen und Suppen nach alten Rezepten und eine große Auswahl an Eierkuchen - süß oder herzhaft, was einen ganz in Kindheitserinnerungen schwelgen lässt.
            Mit Liebe und Kreativität glasieren und gestalten wir unsere Donuts selber.
        </p>
        <p>
            Aber was wäre ein gutes Café ohne guten Kaffee? Hier haben wir lange probiert und geforscht um nun sagen zu können: Werden Sie nun Tester und Genießer unserer Kaffeespezialitäten - natürlich auch zum Mitnehmen möglich.
            Um einen Aufenthalt im W7 nicht alltäglich werden zu lassen, überraschen wir regelmäßig mit Veranstaltungen. Seien es Kurse zum Mitmachen und Selbstgestalten, Lesungen oder musikalische Auftritte - wir lassen uns was einfallen.
        </p>
        <p>
            <b>In Bernburg - Für Euch - Das W7</b>
        </p>
    </div>
</div>