<div class="reservierung-container page-container">
    <div class="reservierung-banderole banderole"><h1>Reservierung</h1></div>

    {% if sentReservierung is defined %}
        {% if sentReservierung == true %}
            <div class="reservierung-success">
                <p>Vielen Dank f端r Ihre Reservierung</p>
            </div>
        {% endif %}

        {% if sentReservierung == false %}
            <div class="reservierung-error">
                <p>Es ist etwas beim Versand der Reservierung schief gegangen. Wir entschuldigen uns f端r die
                    Unanehmlichkeiten. Bitte versuchen Sie es erneut. Sollte das Problem weiterhin bestehen, bitte
                    kontaktieren Sie uns unter der 01525-5366682</p>
            </div>
        {% endif %}
    {% endif %}
    <div class="reservierung-form">
        <form action="{{ route('reservierung-add') }}" method="POST" name="reservierung-form">
            <div>
                <label for="name">
                    Ihr Name<br>
                    <input name="name" required/>
                </label>
            </div>
            <div>
                <label for="datum">
                    Wann wollen Sie kommen?<br>
                    <input type="datetime-local" name="datum" required/>
                </label>
            </div>
            <div>
                <label for="plaetze">
                    Wie viele Personen?<br>
                    <input type="number" name="plaetze" min="1" max="20" required/>
                </label>
            </div>
            <div>
                <label for="sonderwuensche">
                    Sonderw端nsche? (Couchplatz gew端nscht, ...)<br>
                    <textarea name="sonderwuensche" cols="30" rows="10"></textarea>
                </label>
            </div>
            <div>
                <input type="submit" name="submit" value="absenden">
            </div>
        </form>
    </div>
</div>